.fira-sans-normal {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

 /* nav section */
 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    height: 100px;
    margin-left: 160px;
    margin-right: 160px;
  
} 


.nav-title{
  color: rgb(14, 14, 14);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left

}

nav ul li{
   
  list-style: none;
  margin-right: 10px;

}
nav ul a{
  text-decoration: none;
  font-size: 20px;
}

nav ul{
  display: flex;
  align-items: center;
}

.btn-primary{
  color: rgb(0, 106, 80);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  gap: 48;
  padding: 15px 30px 15px 30px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;

}


/* banner content */
.banner{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  height: auto; 
  margin-left: 160px;
  margin-right: 160px;
 
  margin-bottom: 80px;
  padding: 80px 100px;
}
.banner-content{
  max-width: 500px;
  height: 201px;
}

.banner-title{
color: rgba(14, 14, 14, 0.5);
font-size: 20px;

line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.banner-subtitle{
color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
}

.banner-btn{
  border-radius: 8px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);

  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 48;
  padding: 17px 34px 17px 34px;
}

/* shared style */
.bg{
border-radius: 24px;
background: rgb(198, 228, 214);
}

/* pillars section 2.0 */

.pillars-of-bd-container{
  max-width: 1200px;
  height: auto; 
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 80px;
/* every content a same width */
}


.pillars-content{
  display: flex;
  gap: 25px;

}


.pillars{


  width: 290px;
  height: auto ;
  padding: 30px;

  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  
  background: rgb(255, 255, 255);

}

.pillars-header{
  color: rgb(14, 14, 14);

font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.pillars-title{
color: rgba(14, 14, 14, 0.8);
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
 .pillars-description  {
  color: rgba(14, 14, 14, 0.7);
 
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
 }

 /* vision section */

 .vision-container{
  max-width: 1200px;
  height: auto; 
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 80px;
 }

 .vision-items{
  display: flex;
  gap: 25px;

 }


.vision-content-first{
width: 410.67px;
box-sizing: border-box;
border-radius: 16px;
padding: 24px;
background: rgba(84, 144, 245, 0.2);
 }

 .vision-content-sec{
  width: 410.67px;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 24px;
  background: rgb(198, 228, 214);
 }


 .vision-content-third{
  width: 410.67px;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 24px;
  background: rgb(247, 235, 207);
 }


 .btn-first{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;

  gap: 48;
  padding: 11px 20px 11px 20px;
  border: none;
  border-radius: 8px;
  background: rgb(84, 144, 245);
 }

 .btn-sec{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  gap: 48;
  border: none;
  padding: 11px 20px 11px 20px;


  border-radius: 8px;
  background: rgb(9, 161, 92);
 }
 .btn-third{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  gap: 48;
  border: none;
  padding: 11px 20px 11px 20px;
  border-radius: 8px;
  background: rgb(255, 194, 57);
 }

/* outer look End */

 .vision-header{
  color: rgb(14, 14, 14);
  
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
 }

 .vision-subtitle{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
 }

 .vision{
  color: rgba(14, 14, 14, 0.8); 
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
 }

 .vision-description{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
 }
 /* adviser section */

 .adviser-section{
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin-top: 32px;

gap: 24;
padding: 48px 24px 48px 24px;

 }

 .adviser-description{
color: rgba(14, 14, 14, 0.8);
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

background: url("../assets/quote-bg.png");
background-repeat: no-repeat;
background-position: top  left;
background-size: 50px 50px ;

 }

 .adviser-title{
color: rgba(14, 14, 14, 0.8);
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
 }

 .adviser-subtitle{
  color: rgba(14, 14, 14, 0.6);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
 }

 /* recent new section */

 .recent-news{
  max-width: 1200px;
  height: auto; 
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 80px;
 }


.recent-title {
color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
 }
 .recent-subtitle{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
 }
 

 .news-container{
  display: flex;
  align-items: center;
  border: 1px solid rgba(14, 14, 14, 0.15); 
  box-sizing: border-box;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  margin-top: 32px;
  gap: 24px;
  padding: 48px 24px 48px 24px; 


 }

 .news-description{
  width: 744px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;

 }

.news-image img{ 

width: 408px;
height: 306px;
border-radius: 24px;
gap: 24px;
}

.news-btn{
border: none;
border-radius: 8px;
background: rgb(0, 106, 80); 


color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 13px 26px 13px 26px;

}
.donate-section{
  max-width: 1200px;
  height: auto; 
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 80px;
 
}
.donate-title{
color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}

.donate-subtitle{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}


.card-items{
display: flex;
gap: 20px;
justify-content: center;
align-items: center;


}

.card-item{
width: 243px;
height: 128px;
color: rgba(14, 14, 14, 0.8);
font-size: 30px;
font-weight: 700;
line-height: 48px;
text-align: center;

box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin-bottom: 24px;

}

/* hover effect  */
.card-item:hover{
 box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(198, 228, 214);
} 


/* shared style for all button  */
.all:hover{
  box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 8px;
background: rgb(14, 46, 230);
}


.btn{

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-donate{
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  background: rgb(0, 106, 80);
  gap: 48;
  padding: 17px 34px 17px 34px;

}

.text-section{


  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;


}


.text-holder{
  width: 1000px;
  height: 60px;
  display: flex;
  justify-content: center;
  text-align: center;

  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);


  color: rgba(14, 14, 14, 0.3);

font-size: 20px;
font-weight: 400;
line-height: 24px;


}


.subscribe-conatainer{
  max-width: 1200px;
  height: auto; 
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 80px;


}

.sub-content{
  gap: 64;
  padding: 80px 100px 80px 100px;
  margin: 80px 0px;
  border-radius: 24px;
  background: rgb(198, 228, 214);




}

.sub-title{
 color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: center;

}


.sub-subtitle{

  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.sub-btn{
  display: flex;
  justify-content: center;
 
}
.sub-text {

  width: 600px;

  color: rgba(14, 14, 14, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  gap: 24;
  padding: 18px 40px 18px 40px;
  border: none;

  border-radius: 8px 0px 0px 8px;

  background: rgb(255, 255, 255);

}

.subs-btn{

align-items: center;
gap: 48;
padding: 17px 34px 17px 34px;
border-radius: 0px 8px 8px 0px;
background: rgb(0, 106, 80);
border: none; 
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}

.subs-btn:hover{
  box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 0px 8px 8px 0px;
background: rgb(14, 46, 230);
}